fastapi
uvicorn
motor
pydantic[email]
python-jose
passlib
bcrypt
python-dotenv
openai
langchain
langchain-openai
langchain-groq
langchain-core
langsmith
groq
chromadb
numpy
pytest
httpx
gTTS
langchain-huggingface
sentence-transformers
pinecone-client
langchain-pinecone
python-multipart
